.contact {
  z-index: 2;
  height: 100vh;
  @include media-breakpoint-down(lg) {
    height: 80vh;
  }
  .header-contact {
    margin-left: 160px;
    font-size: $headerFont;
    font-weight: bold;
    color: $headerFontColor;
    @include media-breakpoint-down(md) {
      margin-left: $tabletMargin;
    }
  }
  .header-contact-line {
    margin: 0;
    width: 160px;
    margin-left: 160px;
    height: 3px;
    background-color: $circleColor;
    border: 0;
    @include media-breakpoint-down(md) {
      margin-left: $tabletMargin;
    }
  }
  .header-contact-line:after {
    content: "";
    display: block;
    border-bottom: 3px solid #ff705c;
    max-width: 100px;
  }
  .second-line-contact {
    margin-top: 35px;
    margin-left: 160px;
    font-weight: bold;
    font-size: 18px;
    color: $headerFontColor;
    @include media-breakpoint-down(md) {
      margin-left: 5%;
      margin-top: 45px;
    }
  }
  .contact-form {
    margin-top: 65px;
    margin-left: 160px;
    width: 75%;
    @include media-breakpoint-down(md) {
      margin-left: 0;
      width: 100%;
      padding: 0% 5% 0% 5%;
    }
    @include media-breakpoint-down(lg) {
      margin-left: 0;
      width: 100%;
      padding: 0% 5% 0% 5%;
    }
    .form-row {
      margin-bottom: 33px;
      .col {
        input {
          border-radius: 20px;
          background-color: #eaebef;
          border: none;
          height: 50px;
        }
        textarea {
          border-radius: 20px;
          background-color: #eaebef;
          border: none;
          height: 130px;
        }

        ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #000000;
          opacity: 1; /* Firefox */
          font-size: 20px;
          padding: 10px;
        }

        :-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #000000;
          font-size: 20px;
        }

        ::-ms-input-placeholder {
          /* Microsoft Edge */
          color: #000000;
          font-size: 20px;
        }
      }
    }
    .contact-form-button {
      margin-top: 50px;
      border-radius: 20px;
      width: 250px;
      height: 50px;
      background-color: $aboutUsColor;
      color: #ffffff;
      border: none;
    }
  }
  .contact-img {
    img {
      position: absolute;
      right: -100px;
      top: 0;
      width: 964px;
      z-index: 0;
      margin-top: 70px;
      @include media-breakpoint-down(md) {
        width: 564px;
        right: 0px;
        margin-top: 0px;
      }
      @include media-breakpoint-down(lg) {
        position: relative;
        width: 100%;
        bottom: 0;
        right: -10%;
      }
    }
    .circle {
      position: absolute;
      height: 900px;
      width: 900px;
      background-color: $circleColor;
      opacity: 25%;
      border-radius: 50%;
      display: inline-block;
      z-index: -9999;
      right: 0;
      top: 0;
      margin-right: -165px;
      margin-top: 70px;
      @include media-breakpoint-down(md) {
        width: 450px;
        height: 450px;
        margin-right: 0px;
      }
      @include media-breakpoint-down(lg) {
        width: 450px;
        height: 450px;
        margin-right: 0px;
        bottom: 0;
      }
    }
  }
}
