//Colors
$mainColor: #f05d7b;
$secondColor: #6c6ce5;
$thirdColor: #f97b8b;
$fontBlack: #000000;
$whiteBackground: #ffffff;
$headerFontColor: #454360;
$aboutUsColor: #ff705c;
$bar1Color: #ff705c;
$bar2Color: #6c6ce5;
$bar3Color: #41e75c;
$serviceFontColor: #ffffff;
$circleColor: #d2d2d2;
$footerBackground: #c4c4c4;
$footerFontColor: #454360;

//Left-Margin
$normalLeftMargin: 132px;
$tabletMargin: 235px;

//Font
$headerFont: 48px;
$serviceHeaderFont: 24px;
$serviceDescriptionFont: 18px;
